{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/module_list.css' %}">
{% endblock %}
{% block title %}Exercise List{% endblock %}

{% block content %}
<style>
        .exercise-list-button{
        background-color: #427CD4;
        border-radius: 10px;
        padding-left: 10px!important;
        color: white;
        }


        .exercise-list-button:hover{
            background-color: #365B9A;
            border-radius: 10px;
            color: white;
        }
</style>
<div class="row pt-5 exercise-list ">
    {% for module in modules %}
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">{{ module.title }}</h5>
                <a href="{% url 'modules:module_exercise' module_id=module.id %}" class="btn exercise-list-button  ps-3 pe-3">Start Exercise</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
