{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/module_list.css' %}">
{% endblock %}

{% block title %}{{ lesson.title }} - Lesson Detail{% endblock %}

{% block content %}
<div class="row m-5">
    <h1>{{ lesson.title }}</h1>
    <p>{{ lesson.description }}</p>

    {% for subtopic in subtopics %}
    <h3>{{ subtopic.title }}</h3>
    <p>{{ subtopic.notes|linebreaks }}</p> <!-- Converts line breaks to <br> tags -->
    
    {% if subtopic.code %}
    <pre class="language-markup"><code>{{ subtopic.code|safe }}</code></pre>
    {% endif %}
    
    {% endfor %}
</div>
{% endblock %}
